.detail-container label {
    font-weight: bold;
    display: inline-block;
    margin-left: 15px;
}

.summary-container label {
    font-weight: bold;
    display: inline-block;
    margin-left: 15px;
}

.detail-container span {
    font-weight: 400;
    margin-left: 10px;
    display: inline-block;
}

.summary-container span {
    font-weight: 400;
    margin-left: 10px;
    display: inline-block;
}

.detail-container .cont-3-column {
    width: 30%;
    margin-right: 20px;
}

.detail-container .cont-3-column>div {
    display: flex;
}

.detail-container .cont-4-column {
    width: 25%;
}

.detail-container .cont-row {
    display: flex;
}

.payment--save input {
    width: 40%;
    height: 20px;
    margin-top: 8px;
}


div.isvalid:after {
    content: 'SUCCESS!';
    color: green;
    font-size: medium;
    font-weight: bold;
    margin-left: 15px;
}

div.notvalid:after {
    content: 'FAILED';
    color: red;
    font-size: medium;
    font-weight: bold;
    margin-left: 15px;
}

div.loader {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid green;
    /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}