.detail-container label {
    font-weight: bold;
    display: inline-block;
}

.summary-container label {
    font-weight: bold;
    display: inline-block;
}

.detail-container span {
    font-weight: 400;
    margin-left: 10px;
    display: inline-block;
}

.summary-container span {
    font-weight: 400;
    margin-left: 10px;
    display: inline-block;
}

.detail-container .cont-3-column {
    width: 30%;
    margin-right: 20px;
}

.detail-container .cont-3-column>div {
    display: flex;
}

.detail-container .cont-4-column {
    width: 25%;
}

.detail-container .cont-row {
    display: flex;
}

.payment--save {
    display: flex;
    flex-direction: row;
}

.payment--save input {
    width: 40%;
    height: 20px;
    margin-top: 8px;
}

.payment--save button {
    width: 60%;
}
