/* westpay new styles */
.transactions-container {
    text-transform: uppercase;
}

.classes-filter-box {
    border: 2px solid #CCC;
    border-radius: 8px;
    padding: 5px 25px 25px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 2px 5px -1px #e8e8e8;
    box-shadow: 0 2px 5px -1px #e8e8e8;
}

.filter-box-row {
    display: flex;
    width: 100%;
    margin-top: 25px;
}

.filter-box-column {
    width: 25%;
    padding-right: 15px;
}

/*
.filter-box-column.apply-filter {
    width: 100%;
}
*/

.filter-box-column.apply-filter button {
    float: right;
}


.transactions-action-box {
    position: fixed;
    bottom: 10px;
    right: 50px;
    z-index: 200;
}

.action-box-column {
    float: right;
    margin: 0px 20px 0px;
}

.column-hiding-contextmenu {
    position: absolute;
    z-index: 100;
    background: whitesmoke;
    padding: 20px;
    border: 2px solid rgb(106, 105, 105);
    border-radius: 5px;
    right: 50px;
    margin-top: 40px;
    text-align: left;
}

.table-setting-icon {
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 20px;
    cursor: pointer;
}

.table-setting-icon img {
    width: 30px;
    height: 30px;
}

.table-no-results {
    text-align: center;
    background-color: #beddff;
    padding: 5px;
    height: 30px;
}

table.transaction-table {
    margin-top: 15px;
}

table.transaction-table>button,
input,
optgroup,
select,
textarea {
    padding: 3px;
}

span.global-filter {
    font-size: 14px;
    font-weight: 600;
}

.global-filter input {
    border: 1px #ccc solid !important;
    width: 400px;
    background: #efefef;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}

.filter-validation-error {
    border: 1px #ff0000 solid;
    animation: blink-border 1s;
    animation-iteration-count: 2;
}

.validation-error-text {
    color: #ff0000;
}

.validation-warnning-text {
    color:   #e9b004;
}


@keyframes blink-border {
    50% {
        border-color: #fff;
    }
}

.modal-detail {
    position: fixed;
    background: white;
    width: 90%;
    height: 90%;
    padding: 40px;
    top: 50%;
    left: 50%;
    overflow-x: scroll;
    overflow-y: scroll;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.modal-detail__close {
    top: 15px;
    right: 15px;
}

.modal-detail__header {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.modal-detail__header--danger {
    color: #FE3B00;
}

.modal-main__header--success {
    color: #38A281;
}

.modal-detail__content {
    font-size: 12px;
    line-height: 1.5;
    min-width: 960px;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 80%;
}

.modal-detail__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-top: 40px;
}

.classes-container .widget-group .widget-row{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.classes-container .tile-widget {
    width: 300px;
    height: 100px;
    background-color: currentColor;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
}

.classes-container .tile-widget:hover {
   cursor: pointer;
   opacity: 0.7;
}

.classes-container .tile-widget label {
    color: white;
    font-size: medium;
    width: 100%;
}

.classes-container .tile-widget span {
    font-size: medium;
    color: wheat;
    width: 100%;
}

.classes-container .widget-group {
    margin-top: 40px;
}